header {
  display: grid;
  grid-template-columns: 150px auto;
}
footer {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 125px;
}
.social_media {
  width: 50px;
  display: inline-block;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 2em;
  color: black;
}
.topnav {
  text-align: center;
}
.home-title {
  text-align: center;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-size: 3em;
}
main {
  text-align: left;
  font-size: 2em;
  display: grid;
}
img {
  width: 100%;
}
